  <app-header />

  <main>
    <ul id="users">
        <li *ngFor='let user of users'>
          <app-user
            [user]="user"
            [selected]="selectedUserId === user.id"
            (userSelected)="onSelectingUser($event)"
          />
        </li>
    </ul>
    <app-tasks
      [userId]="selectedUserId"
      *ngIf='selectedUserId; else noUserSelected' [name]="selectedUser.name"
    />
    <ng-template #noUserSelected>
      <p>Select a user to see their tasks!</p>
    </ng-template>
    <router-outlet /> 
  </main>
